.field_info small {
    display: block;
    margin-bottom: 17px;
}
.clini-infos ul li i {
    padding-top: 8px;
}
.clini-infos ul li{
    display: flex;
}
.footer-logo img {
    max-width: 80%;
}
.clinic-services {
    max-width: 95%;
}
.clinic-details {
    margin-bottom: -18px;
}
span.about_head {
    border: none;
    padding-left: 0;
    font-weight: 600;
    display: block;
    width: 100%;
    font-size: 13px;
}
.footer-col-3 a, .footer-col-3 i, .footer-col-3 p {
    color: #83c5ff;
}