<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}

<body class="{{body_class}}">

    <div class="main-wrapper">
        {% include 'doctor/docheader.html' %}
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% block content %} {% endblock content %}

        {% include 'footer.html' %}
    </div>
    {% include 'scripts.html' %}
    {% block extra_scripts %} {% endblock extra_scripts %}
</body>

</html>