{% extends 'doctor/docbase.html' %}
{% load static %}
{% block content %}





<div class="content">
<div class="container-fluid">
<div class="row">


<!-- side bar  -->
{% include 'doctor/sidebar.html' %}
<!-- side bar ends -->


<div class="col-md-7 col-lg-8 col-xl-9">

<div class="row">
<div class="col-md-12">
<h4 class="mb-4">Patient Appoinment</h4>
<div class="appointment-tab">


<div class="tab-content">

<div class="tab-pane show active" id="upcoming-appointments">
<div class="card card-table mb-0">
<div class="card-body">
<div class="table-responsive">
<table class="table table-hover table-center mb-0">
<thead>
<tr>
<th>Patient Name</th>
<th>Appointment Date</th>
<th>Remarks</th>
<th>Appointment Time</th>
<th class="text-center">Paid Amount</th>
</tr>
</thead>
<tbody>
    {% if app %}
    {% for app in app %}
<tr>
<td>
<h2 class="table-avatar">
    {% if app.PatientUser.ProfilePicture %}
<a href="patient-profile.html" class="avatar avatar-sm me-2"><img class="avatar-img rounded-circle" src="{{ app.Patientdoc.ProfilePicture.url }}" ></a>
{% endif %}
<a href="patient-profile.html">{{ app.PatientUser.FirstName }} {{ app.PatientUser.LastName }}<span>#{{app.AppointmentID}}</span></a>
</h2>
</td>
<td>{{ app.AppointmentDate }}</td>


<td class="text-center">{{ app.Remarks }}</td>
<td class="text-center">{{ app.TimeSlot }}</td>

<td class="text-center">${{ app.AppointmentFee }}</td>
<td class="text-end">
<div class="table-action">
<a href="/media/appointment-documents/{{ app.Document }}" class="btn btn-sm bg-info-light" download="">
Download
</a>
<a href="/doctor/accept/{{app.AppointmentID}}" class="btn btn-sm bg-success-light">
<i class="fas fa-check"></i> Accept
</a>
<a href="/doctor/delete/{{app.AppointmentID}}" class="btn btn-sm bg-danger-light">
<i class="fas fa-times"></i> Cancel
</a>
</div>
</td>
</tr>
{% endfor %}
{% else %}
<td><h5>No Appointments Today...</h5></td>
<td></td>
<td></td>
<td></td>
{% endif %}
</tbody>
</table>
</div>
</div>
</div>
</div>




</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

{% endblock %}
