{% extends 'base.html' %} {% load static %} {% block content %}

<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
        <div class="profile-sidebar">
          <div class="widget-profile pro-widget-content">
            <div class="profile-info-widget">
              <a href="#" class="booking-doc-img">
                <img src="{{ doc.profile_image.url }}" alt="User Image" />
              </a>
              <div class="profile-det-info">
                <h3>{{ doc.name }}</h3>
                <h5><i>{{ doc.bio }}</i></h5>

                <div class="patient-details">
                  <h5 class="mb-0">
                    {{ doc.qualification }}[{{ doc.specialization }}]
                  </h5>
                </div>
                <!-- <a class="btn btn-primary w-100 btn-lg login-btn" href="{{update}}">Edit</a> -->
              </div>
            </div>
          </div>

          <!-- side bar  -->
          {% include 'doctor/sidebar.html' %}
          <!-- side bar ends -->
        </div>
      </div>
      <div class="col-md-7 col-lg-8 col-xl-9">
        <div class="row">
          <div class="col-md-12">
            <h4 class="mb-4">Patient Appoinment</h4>
            <div class="appointment-tab">
              

              <div class="tab-content">
                <div class="tab-pane show active" id="upcoming-appointments">
                  <div class="card card-table mb-0">
                    <div class="card-body">
                      <div class="table-responsive">
                        <table class="table table-hover table-center mb-0">
                          <thead>
                            <tr>
                              <th>Patient Name</th>
                              <th>Appt Date</th>
                              <th>Remarks</th>
                              <th class="text-center">Paid Amount</th>
                              <th></th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for patient in patients %}
                            <tr>
                              <td>
                                <h2 class="table-avatar">
                                  <a
                                    href="patient-profile.html"
                                    class="avatar avatar-sm me-2"
                                    ><img
                                      class="avatar-img rounded-circle"
                                      src="{{ patient.Patientdoc.ProfilePicture.url }}"
                                  /></a>
                                  <a href="patient-profile.html">{{patient.PatientUser.FirstName}} {{patient.PatientUser.LastName }}<span>#{{patient.AppointmentID}}</span></a>
                                </h2>
                              </td>
                              <td>{{ patient.AppointmentDate }}</td>

                              <td class="text-center">{{ patient.Remarks }}</td>

                              <td class="text-center">
                                ${{ patient.AppointmentFee }}
                              </td>
                              <td class="text-end">
                                <div class="table-action">
                                  <a
                                    href="/media/{{ patient.Document }}"
                                    class="btn btn-sm bg-info-light"
                                    download="s."
                                  >
                                    Download
                                  </a>
                                  
                                </div>
                              </td>
                            </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
