<!-- Sidebar -->
<div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
<div class="profile-sidebar">
  <div class="widget-profile pro-widget-content">
  <div class="profile-info-widget">
  <a href="#" class="booking-doc-img">
      {% if doc.profile_image %}
  <img src="{{ doc.profile_image.url }}" alt="User Image">
  {% endif %}
  </a>
  <div class="profile-det-info">
  <h3>{{ doc.name }}</h3>
  <h5><i>{{ doc.bio }}</i></h5>
  
  <div class="patient-details">
  <h5 class="mb-0">{{ doc.qualification }}[{{ doc.specialization }}]</h5>
  </div>
  <!-- <a class="btn btn-primary w-100 btn-lg login-btn" href="{{update}}">Edit</a> -->
  </div>
  </div>
  </div>
<div class="dashboard-widget">
  <nav class="dashboard-menu">
    <ul>
      <li>
        <a href="/doctor/">
          <i class="fas fa-columns"></i>
          <span>Dashboard</span>
        </a>
      </li>

      <li>
        <a href="/doctor/patient-list/">
          <i class="fas fa-user-injured"></i>
          <span>Approved Appointments</span>
        </a>
      </li>

      <li>
        <a href="/doctor/rej-patient-list/">
          <i class="fas fa-user-injured"></i>
          <span>Rejected Appointments</span>
        </a>
      </li>

      <li>
        <a href="/doctor/can-patient-list/">
          <i class="fas fa-user-injured"></i>
          <span>Cancelled Appointments</span>
        </a>
      </li>

      <li>
        <a href="/doctor/profile/">
          <i class="fas fa-user-cog"></i>
          <span>Profile</span>
        </a>
      </li>
      <li>
        <a href="{% url 'authuser:logout_url' %}">
          <i class="fas fa-sign-out-alt"></i>
          <span>Logout</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
</div>
</div>
<!-- Sidebar -->