{% extends 'base.html' %}
{% load static %}

{% block content %}

  <link rel="stylesheet" href="{% static 'css/doctor.css' %}">

<body class="account-page">
<style>
</style>

<div class="main-wrapper">

<div class="content login-page pt-0">
<div class="container-fluid">

{% comment %} <div class="account-content">
<div class="row align-items-center">
<div class="login-right">
<div class="inner-right-login">
<div class="login-header">
<div class="logo-icon"> {% endcomment %}
{% comment %} <img src="{% static 'img/logo.png'%}" alt=""> {% endcomment %}
</div>
{{context.img_obj}}
<form class="doctor" method="post">
    {% csrf_token %}
    {% if doctor_form.non_field_errors %}
    <div class="alert alert-danger mt-3" role="alert">
        {% for error in doctor_form.non_field_errors %}
        <p>{{ error }}</p>
        {% endfor %}
    </div>
    {% endif %}
    {% if img_obj %}  
         
     <img src="{{ img_obj.image.url}}" alt="connect" style="max-height:100px">  
    {% endif %}  
    {% for field in doctor_form.visible_fields %}
        <div class="form-field">
            <div class="form-group {% if field.field.widget.input_type != 'select' %}form-focus{% endif %}">
                {{field}}
                {% if field.field.widget.input_type != "select" %}
                    <label class="focus-label">{{field.label}}</label>
                {% endif %}
            </div>
            <div class="field_info">
                {% if field.help_text %}
                    <small style="color: grey"><em>{{ field.help_text }}</em></small>
                {% endif %}
                {% for error in field.errors %}
                    <p style="color: red">{{ error }}</p>
                {% endfor %}
            </div>
        </div>
    {% endfor %}  
    <button class="btn btn-primary w-100 btn-lg login-btn doc-btn" type="submit">Save</button>
</form>




</div>
</div>




{% endblock %}


