{% extends 'base.html' %}
{% load static %}

{% block content %}


<div class="breadcrumb-bar">
	<div class="container-fluid">
		<div class="row align-items-center">
			<div class="col-md-12 col-12">
				<nav aria-label="breadcrumb" class="page-breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="index.html">Home</a></li>
					<li class="breadcrumb-item active" aria-current="page">Medical Records</li>
				</ol>
				</nav>
				<h2 class="breadcrumb-title">Medical Records</h2>
			</div>
		</div>
	</div>
</div>


<div class="content">
	<div class="container-fluid">
		<div class="row">

		<!-- side bar  -->
		 {% include 'patients/side_bar.html' %}
		<!-- side bar ends -->

        <!-- table begins  -->
        <div class="col-md-7 col-lg-8 col-xl-9">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                    <div class="card-header">
                        <h4 class="card-title float-start">Medical Records</h4>
                        <a href="/patients/add-diagnosis/" class="btn btn-primary float-end">Add Record</a>
                    </div>
                    <div class="card-body">
                        <div class="card card-table mb-0">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-hover table-center mb-0">
                                        <thead>
                                            <th class="text-center">Report #</th>
                                            <th class="text-center">Diagnosis Name</th>
                                            <th class="text-center">Diagnosis Result</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            {% for diagnosis in diagnosis_list%}
                                                <tr>
                                                    <td class="text-center"> {{ forloop.counter }}</td>
                                                    <td class="text-center">
                                                        {{diagnosis.DiagnosisName}}
                                                        <sapn class="text-muted">({{ diagnosis.ReportID }})</sapn>
                                                    </td>
                                                    <td class="text-center">
                                                        <a href="/patients/get-report/{{ diagnosis.ReportID }}/" class="btn btn-sm bg-info-light" >
                                                            Download
                                                        </a>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- table ends  -->

    </div>
</div>

{% endblock content %}