{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="breadcrumb-bar">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-12 col-12">
                <nav aria-label="breadcrumb" class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page"><a href="">Book Appointment</a></li>
                    </ol>
                </nav>
                <h2 class="breadcrumb-title">Book Appointment</h2>
            </div>
        </div>
    </div>
</div>


<div class="content">
    <div class="container-fluid">
        <div class="row">

            <!-- side bar  -->
            <div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
                <div class="profile-sidebar">
                    <div class="widget-profile pro-widget-content">
                        <div class="profile-info-widget">
                            <a href="#" class="booking-doc-img">
                                <img src="/media/{{patient_details.ProfilePicture}}" alt="User Image">
                            </a>
                            <div class="profile-det-info">
                                <h3>{{patient_details.FirstName}} {{patient_details.LastName}}</h3>
                                <div class="patient-details">
                                    <h5><i class="fas fa-birthday-cake"></i> {{patient_details.DOB}}, {{patient_age}} years</h5> 
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- side bar ends -->

            
            <div class="col-md-7 col-lg-8 col-xl-9"> 
                <div class="card"> 
                    <div class="card-body pt-0">  
                        <div id="pat_appointments" class="tab-pane fade show active">
                            <div class="card card-table mb-0">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-hover table-center mb-0">
                                            <thead>
                                                <tr>
                                                <th>Doctor</th>
                                                <th>Appt Date</th>
                                                <th>Booking Date</th>
                                                <th>Amount</th>
                                                <th>Follow Up</th>
                                                <th>Status</th>
                                                <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                    <h2 class="table-avatar">
                                                    <a href="doctor-profile.html" class="avatar avatar-sm me-2">
                                                    <img class="avatar-img rounded-circle" src="assets/img/doctors/doctor-thumb-01.jpg" alt="User Image">
                                                    </a>
                                                    <a href="doctor-profile.html">Dr. Ruby Perrin <span>Dental</span></a>
                                                    </h2>
                                                    </td>
                                                    <td>14 Nov 2019 <span class="d-block text-info">10.00 AM</span></td>
                                                    <td>12 Nov 2019</td>
                                                    <td>$160</td>
                                                    <td>16 Nov 2019</td>
                                                    <td><span class="badge rounded-pill bg-success-light">Confirm</span></td>
                                                    <td class="text-end">
                                                        <div class="table-action">
                                                            <a href="javascript:void(0);" class="btn btn-sm bg-primary-light">
                                                                <i class="fas fa-print"></i> Print
                                                            </a>
                                                            <a href="javascript:void(0);" class="btn btn-sm bg-info-light">
                                                                <i class="far fa-eye"></i> View
                                                            </a>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}