{% extends 'base.html' %}
{% load static %}

{% block content %}


		<div class="breadcrumb-bar">
			<div class="container-fluid">
				<div class="row align-items-center">
					<div class="col-md-12 col-12">
						<nav aria-label="breadcrumb" class="page-breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="index.html">Home</a></li>
								<li class="breadcrumb-item active" aria-current="page">Contact Us</li>
							</ol>
						</nav>
						<h2 class="breadcrumb-title">Contact Us</h2>
					</div>
				</div>
			</div>
		</div>


		<section class="contact-section">
			<div class="container">
				<div class="row mb-5">
					<div class="col-md-12 text-center">
						<h3 class="mb-4">Contact Us</h3>
						<p>Great doctor if you need your family member to get effective immediate assistance, emergency
							treatment or a simple consultation.</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 d-flex">
						<div class="contact-box flex-fill">
							<div class="infor-img">
								<div class="image-circle">
									<i class="feather-phone"></i>
								</div>
							</div>
							<div class="infor-details text-center">
								<label>Phone Number</label>
								<p>+1(647)-838-6026</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 d-flex">
						<div class="contact-box flex-fill">
							<div class="infor-img">
								<div class="image-circle bg-primary">
									<i class="feather-mail"></i>
								</div>
							</div>
							<div class="infor-details text-center">
								<label>Email</label>
								<p class="mb-0"> <i class="fas fa-envelope"></i>
                                    <a href="mailto:C0811417@mylambton.ca">C0811417@mylambton.ca,</a>
                                </p>
                                <p class="mb-0"> <i class="fas fa-envelope"></i>
                                    <a href="mailto:C0811417@mylambton.ca">C0811417@mylambton.ca,</a>
                                </p>
                                <p class="mb-0"> <i class="fas fa-envelope"></i>
                                    <a href="mailto:C0811417@mylambton.ca">C0811417@mylambton.ca</a>
                                </p>
							</div>
						</div>
					</div>
					<div class="col-md-4 d-flex">
						<div class="contact-box flex-fill">
							<div class="infor-img">
								<div class="image-circle">
									<i class="feather-map-pin"></i>
								</div>
							</div>
							<div class="infor-details text-center">
								<label>Location</label>
								<p>North York, Toronto
                                    <br>
									Ontario, CA M2J 3X1</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="contact-map d-flex">
			<iframe
				src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10119.516414284935!2d-79.33428488123036!3d43.7729105009046!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b2d6fc6ca7f5d%3A0x3740d34feae53c8b!2sCestar%20College%20of%20Business%2C%20Health%20and%20Technology!5e0!3m2!1sen!2sca!4v1638663191611!5m2!1sen!2sca"
				allowfullscreen="" loading="lazy"></iframe>
            </section>


{% endblock content %}
