{% load static %}
<footer class="footer">

    <div class="footer-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-md-6">

                    <div class="footer-widget footer-about">
                        <div class="footer-logo">
                            <img src="{% static 'img/logo_white.jpg' %}" alt="logo">
                        </div>
                        <div class="footer-about-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua.</p>
                            
                        </div>
                    </div>

                </div>
                <div class="col-lg-3 col-md-6">

                    <div class="footer-widget footer-menu">
                        <h2 class="footer-title">Quick Links</h2>
                        <ul>
                            <li><a href="appointments.html">Search Doctor</a>
                            </li>
                            <li><a href="login.html">Login</a>
                            </li>
                            <li><a href="doctor-register.html">Register</a>
                            </li>
                        </ul>
                    </div>

                </div>
                <div class="col-lg-3 col-md-6">

                    <div class="footer-widget footer-contact">
                        <h2 class="footer-title">Address</h2>
                        <div class="footer-contact-info">
                            <div class="footer-address"> <span><i class="fas fa-map-marker-alt"></i></span>
                                <p>North York, Toronto
                                    <br>Ontario, CA M2J 3X1
                                </p>
                            </div>
                            
                        </div>
                    </div>

                </div>

                <div class="col-lg-3 col-md-6">

                    <div class="footer-widget footer-menu footer-col-3">
                        <h2 class="footer-title">Contact Info</h2>
                        <p> <i class="fas fa-phone-alt"></i>
                            +1 647 838 6026</p>
                        <p class="mb-0"> <i class="fas fa-envelope"></i>
                            <a href="mailto:C0811417@mylambton.ca">C0811417@mylambton.ca,</a>
                        </p>
                        <p class="mb-0"> <i class="fas fa-envelope"></i>
                            <a href="mailto:C0811417@mylambton.ca">C0811417@mylambton.ca,</a>
                        </p>
                        <p class="mb-0"> <i class="fas fa-envelope"></i>
                            <a href="mailto:C0811417@mylambton.ca">C0811417@mylambton.ca</a>
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <div class="footer-bottom">
        <div class="container-fluid">
            <div class="copyright">
                <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <div class="copyright-text text-center">
                            <p class="mb-0">&copy; 2021 docbook. All rights reserved.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</footer>