{% load static %}
<header class="header">
    <nav class="navbar navbar-expand-lg header-nav">
        <div class="navbar-header">
            <a id="mobile_btn" href="javascript:void(0);"> <span class="bar-icon">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
            </a>
            <a href="index.html" class="navbar-brand logo">
                <img src="{% static 'img/logo.png' %}" class="img-fluid" alt="Logo">
            </a>
        </div>
        <div class="main-menu-wrapper">
            <div class="menu-header">
                <a href="index.html" class="menu-logo">
                    <img src="{% static 'img/logo.png' %}" class="img-fluid" alt="Logo">
                </a>
                <a id="menu_close" class="menu-close" href="javascript:void(0);"> <i class="fas fa-times"></i>
                </a>
            </div>
            <ul class="main-nav">
                <li class="has-submenu"> <a href="/">Home </a>
                </li>
                {% if grp %}
                {% if grp == "doctor" %}
                <li class="has-submenu"> <a href="#">Doctors <i class="fas fa-chevron-down"></i></a>
                    <ul class="submenu">
                        <li><a href="/doctor/">Doctor Dashboard</a>
                        </li>
                        <li><a href="/doctor/profile/">View Profile</a>
                            {% if user.is_superuser %}
                        <li><a href="{% url 'authuser:register_url' %}">Register</a>
                        </li>
                        {% endif %}
                    </ul>
                </li>
                {% else %}
                <li class="has-submenu"> <a href="#">Patients <i class="fas fa-chevron-down"></i></a>
                    <ul class="submenu">

                        <!-- <li class="has-submenu"> <a href="#">Doctors</a>
                            <ul class="submenu">
                                <li><a href="map-grid.html">Map Grid</a>
                                </li>
                                <li><a href="map-list.html">Map List</a>
                                </li>
                            </ul>
                        </li> -->
                        <!-- <li><a href="search.html">Search Doctor</a>
                        </li> -->
                        <li><a href="/patients/patient-dashboard/">Patient Dashboard</a>
                        </li>
                        <li><a href="/patients/profile-settings/">Profile Settings</a>
                        </li>
                        <!-- <li><a href="booking.html">Booking</a>
                        </li>
                        <li><a href="checkout.html">Checkout</a>
                        </li>
                        <li><a href="booking-success.html">Booking Success</a>
                        </li>
                        <li><a href="/patients/profile-settings/">Profile Settings</a>
                        </li>
                        
                    </ul>
                </li>
                {% endif %}
                {% endif %}
            </ul>
        </div>
        <ul class="nav header-navbar-rht">
            <li class="nav-item contact-item">
                <div class="header-contact-img"> <i class="far fa-hospital"></i>
                </div>
                <div class="header-contact-detail text-white">
                    <p class="contact-header">Contact</p>
                    <p class="contact-info-header">+1 315 369 5943</p>
                </div>
            </li>
            <li class="nav-item">
                {% if user.is_authenticated %}
                    <a class="nav-link header-login" href="{% url 'authuser:logout_url' %}">Logout</a>
                {% else %}
                    <a class="nav-link header-login" href="{% url 'authuser:login_url' %}">login / Signup </a>
                {% endif %}

            </li>
        </ul>
    </nav>
</header>
