{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="section section-search-2">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<img src="{% static 'img/banner-1.png' %}" class="img-fluid search-img" alt="">
			</div>
			<div class="col-md-6 search-doctor">
				<div class="search-area bg-white">
					<h2 class="text-center">Search Doctor, Make an Appointment</h2>
					<form class="search-input" method="get" action="{% url 'doctor:doctor-list' %}">
						<div class="row">
							<div class="col-12 col-md-12">
								<div class="form-group">
									<label>Location</label>
									<select class="form-select form-control" name="location">
										{% for loc in locations %}
										<option>{{loc}}</option>
										{% endfor %}
									</select>
								</div>
							</div>
							<div class="col-12 col-md-12">
								<div class="form-group">
									<label>Gender</label>
									<select class="form-select form-control" name="gender">
										<option>Male</option>
										<option>Female</option>
									</select>
								</div>
							</div>
							<div class="col-12 col-md-12">
								<div class="form-group">
									<label>Department</label>
									<select class="form-select form-control" name="specs">
										{% for spec in specializations %}
										<option>{{spec}}</option>
										{% endfor %}
									</select>
								</div>
							</div>
						</div>
						<div class="submit-section">
							<button type="submit" class="btn btn-primary search-btn submit-btn">Search</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>


<section class="section section-specialities">
	<div class="container-fluid">
		<div class="section-header text-center">
			<h2>Browse by Specialities</h2>
			<p class="sub-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
				incididunt ut labore et dolore magna aliqua.</p>
		</div>
		<div class="row justify-content-center">
			<div class="col-md-9">

				<div class="specialities-slider slider">
					{% for spec in specializations %}
										
					<div class="speicality-item text-center">
						<div class="speicality-img">
							<a href="{% url 'doctor:doctor-list' %}?specs={{spec}}">
							<img src="{% static 'img/specialities/' %}{{spec}}.png" class="img-fluid"
								alt="Speciality"> 
								<span>
									<i class="fa fa-circle" aria-hidden="true"></i>
								</span>
							</a>
						</div>
						<p>{{spec}}</p>
							
					</div>
					{% endfor %}
				</div>

			</div>
		</div>
	</div>
</section>



{% endblock content %}